.surroundings {
    display: grid;
    place-items: center;
    min-height: 100vh;
}
.cards {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    height: 110px;
    width: 100px;
    background-color: pink;
    border-radius: 100px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.3s all ease;
}

.heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.card img {
    width: 100%;
    opacity: 0;
    transition: 0.3s all ease;
    max-height: 90px;
}
.card .clicked {
    background-color: green;
}
.card:hover {
    transform: scale(1.03);
}
.card .checked{
    background-color: blue;
}
.card .clicked img,
.card .checked img {
    opacity: 1;
}

.card.shake {
    background-color: red;
    animation: shake 0.5s;
}
body {
    background-color: black;
}
.element-to-shake {
    animation: shake 1s infinite;
}
.time-counter {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

#remaining-time {
    font-weight: bold;
    color: white;
}
.start-button {
    margin-top: 20px;
    text-align: center;
}